/* General Reset */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* App Container */
#root {
  width: 100%;
  max-width: 420px;
  margin: 20px;
}

/* Header */
h1 {
  text-align: center;
  color: #de8622;
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Task Input */
form {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  color: #555;
  padding: 10px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
}

.submitButton {
  padding: 4px 12px;
  margin: 2px;
  border: none;
  background-color: #de8622;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #bd6b0e;
}

/* Task List */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 18px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #bd6b0e,
							-2px -2px 6px #6d548d;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 20px;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #de8622;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


li span {
  flex: 1;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}

li span.completed {
  text-decoration: line-through;
  color: #aaa;
}

.task-time {
  margin-left: 10px;
  color: #a1a1a1;
  font-size: 0.9rem;
  font-style: italic;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: #ff4d4f;
  cursor: pointer;
  font-size: 0.5rem;
  transition: transform 0.1s ease;
}

.deleteButton:hover {
  transform: scale(1.2);
}

/* Notification Modal style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.notification-modal {
  background-color: #fff;
  color: #333;
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 80%;
}

.notification-modal .message {
  margin-bottom: 20px;
  font-size: 18px;
}

.notification-modal .close-notification {
  background-color: #de8622;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.notification-modal .close-notification:hover {
  background-color: #bd6b0e;
}